# Run Logistic Regression on Categorical Variables

Nemjanja: In this notebook, I wanted to begin playing around with models, but I've been having a hard time with the nuances. Not a whole lot of input you can give to me on this yet since I have more data wrangling to do (so. much. data. wrangling.) before my computer can even begin to perform a logistic regression. 

My only question for this notebook: do I need to do one hot encoding to use sklearn's logsticRegression, or are the raw integer answers sufficient?

In [10]:
# special IPython command to prepare the notebook for matplotlib and other libraries
%pylab inline 

import numpy as np
import pandas as pd
import scipy.stats as stats
import matplotlib.pyplot as plt
import sklearn
import seaborn as sns
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import LogisticRegression

# special matplotlib argument for improved plots
from matplotlib import rcParams
sns.set_style("whitegrid")
sns.set_context("poster")

Populating the interactive namespace from numpy and matplotlib

In [11]:
data = pd.DataFrame.from_csv('cap-data/data-clean-round1/data_v2.csv', index_col= 0, encoding = 'utf-8')
nweight = pd.DataFrame.from_csv('cap-data/data-clean-round1/nweight.csv', index_col= 0, encoding = 'utf-8')
pc = pd.DataFrame.from_csv('cap-data/data-clean-round1/pc_v2.csv', index_col= 0, encoding = 'utf-8')
kwh = pd.DataFrame.from_csv('cap-data/data-clean-round1/kwh.csv', index_col= 0, encoding = 'utf-8')
pc_cat = pd.DataFrame.from_csv('cap-data/data-clean-round1/pc_cat_vars.csv', index_col= 0, encoding = 'utf-8')

### Splitting Up Dataset for kfold cross validation

In [12]:
from sklearn.model_selection import train_test_split
# from sklearn.model_selection import KFold

In [13]:
pc_cat # This is the clean categorical data. Still some categorical data to be wrangled.

,Variable Name,Variable Description,Response Codes,Response Labels,Electricity,Natural Gas,Propane,Fuel Oil,Kerosene
0,REGIONC,Census Region,"[1, 2, 3, 4]","['Northeast Census Region', 'Midwest Census Re...",NaN,NaN,NaN,NaN,NaN
1,DIVISION,Census Division,"[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]","['New England Census Division (CT, MA, ME, NH,...",NaN,NaN,NaN,NaN,NaN
2,REPORTABLE_DOMAIN,Reportable states and groups of states,"[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14...","['', 'Connecticut, Maine, New Hampshire, Rhode...",NaN,NaN,NaN,NaN,NaN
3,TYPEHUQ,Type of housing unit,"[1, 2, 3, 4, 5]","['Mobile Home', 'Single-Family Detached', 'Sin...",OTH_B,SPH_A,NaN,NaN,NaN
4,Climate_Region_Pub,Building America Climate Region (collapsed for...,"[1, 2, 3, 4, 5]","['Very Cold/Cold', 'Hot-Dry/Mixed-Dry', 'Hot-H...",NaN,NaN,NaN,NaN,NaN
5,AIA_Zone,"AIA Climate Zone, based on average temperature...","[1, 2, 3, 4, 5]","['Less than 2,000 CDD and greater than 7,000 H...",SPH_A,SPH_A,NaN,NaN,NaN
6,KOWNRENT,"Housing unit is owned, rented, or occupied wit...","[1, 2, 3]","['Owned by someone in the household', 'Rented'...",NaN,NaN,NaN,NaN,NaN
7,CONDCOOP,Housing unit part of condominium or cooperative,"[1, 2, -2]","['Condominium', 'Cooperative', 'Not Applicable']",NaN,NaN,NaN,NaN,NaN
8,YEARMADERANGE,Year range when housing unit was built,"[1, 2, 3, 4, 5, 6, 7, 8]","['Before 1950', '1950 to 1959', '1960 to 1969'...",NaN,SPH_A,SPH_A,SPH_A,NaN
9,OCCUPYYRANGE,Year range when household moved in,"[1, 2, 3, 4, 5, 6, 7, 8]","['Before 1950', '1950 to 1959', '1960 to 1969'...",NaN,NaN,NaN,NaN,NaN
10,CONVERSION,Converted 2-4 unit apartment building,"[1, 2, -2]","['Built as an apartment building', 'Converted ...",NaN,NaN,NaN,NaN,NaN
11,ORIG1FAM,Converted 2-4 unit apartment building was orig...,"[0, 1, -2]","['No', 'Yes', 'Not Applicable']",NaN,NaN,NaN,NaN,NaN
12,LOOKLIKE,Converted 2-4 unit apartment building more lik...,"[1, 2, -2]","['More like a single-family house', 'More like...",NaN,NaN,NaN,NaN,NaN
13,WALLTYPE,Major outside wall material,"[1, 2, 3, 4, 5, 6, 7, 8, 9]","['Brick', 'Wood', 'Siding (Aluminum, Vinyl, St...",NaN,NaN,NaN,NaN,NaN
14,ROOFTYPE,Major roofing material,"[1, 2, 3, 4, 5, 6, 7, 8, -2]","['Ceramic or Clay Tiles', 'Wood Shingles/Shake...",NaN,NaN,NaN,NaN,NaN
15,STUDIO,Studio apartment,"[0, 1, -2]","['No', 'Yes', 'Not Applicable']",NaN,NaN,NaN,NaN,NaN
16,STORIES,Number of stories in a single-family home,"[10, 20, 31, 32, 40, 50, -2]","['One story', 'Two stories', 'Three stories', ...",NaN,NaN,NaN,NaN,NaN
17,TYPEHUQ4,Addition to a mobile home,"[0, 1, -2]","['No', 'Yes', 'Not Applicable']",NaN,NaN,NaN,NaN,NaN
18,CELLAR,Basement in housing unit,"[0, 1, -2]","['No', 'Yes', 'Not Applicable']",NaN,NaN,NaN,NaN,NaN
19,CRAWL,Housing unit over a crawl space,"[0, 1, -2]","['No', 'Yes', 'Not Applicable']",NaN,NaN,NaN,NaN,NaN
20,CONCRETE,Housing unit over a concrete slab,"[0, 1, -2]","['No', 'Yes', 'Not Applicable']",NaN,NaN,NaN,NaN,NaN
21,BASEFIN,Finished basement,"[0, 1, -2]","['No', 'Yes', 'Not Applicable']",NaN,NaN,NaN,NaN,NaN
22,BASEHEAT,Heating used in basement,"[0, 1, -2]","['No', 'Yes', 'Not Applicable']",NaN,NaN,NaN,NaN,NaN
23,BASEHT2,All or partial basement heating,"[1, 2, -2]","['All', 'Partial', 'Not Applicable']",NaN,NaN,NaN,NaN,NaN
24,PCTBSTHT,Portion of the basement which is heated,"[1, 2, 3, 4, 5, -2]","['Very Little (1-4%)', 'Some (5-33%)', 'About ...",NaN,NaN,NaN,NaN,NaN
25,BASECOOL,Cooling used in basement,"[0, 1, -2]","['No', 'Yes', 'Not Applicable']",NaN,NaN,NaN,NaN,NaN
26,BASECL2,All or partial basement cooling,"[1, 2, -2]","['All', 'Partial', 'Not Applicable']",NaN,NaN,NaN,NaN,NaN
27,PCTBSTCL,Portion of the basement which is cooled,"[1, 2, 3, 4, 5, -2]","['Very Little (1-4%)', 'Some (5-33%)', 'About ...",NaN,NaN,NaN,NaN,NaN
28,BASEUSE,Portion of basement exclusively used by housin...,"[0, 1, 2, -2]","['None', 'All', 'Part', 'Not Applicable']",NaN,NaN,NaN,NaN,NaN
29,ATTIC,Attic in housing unit,"[0, 1, -2]","['No', 'Yes', 'Not Applicable']",NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
371,EDUCATION,Highest education completed by householder,"[0, 1, 2, 3, 4, 5, 6, 7, 8]","['No schooling completed', 'Kindergarten to gr...",NaN,NaN,NaN,NaN,NaN
372,AGEHHMEMCAT2,Age category of second household member,"[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14...","['< 5 years old', '5-9 years old', '10-14 year...",NaN,NaN,NaN,NaN,NaN
373,AGEHHMEMCAT3,Age category of third household member,"[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14...","['< 5 years old', '5-9 years old', '10-14 year...",NaN,NaN,NaN,NaN,NaN
374,AGEHHMEMCAT4,Age category of fourth household member,"[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14...","['< 5 years old', '5-9 years old', '10-14 year...",NaN,NaN,NaN,NaN,NaN
375,AGEHHMEMCAT5,Age category of fifth household member,"[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14...","['< 5 years old', '5-9 years old', '10-14 year...",NaN,NaN,NaN,NaN,NaN
376,AGEHHMEMCAT6,Age category of sixth household member,"[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14...","['< 5 years old', '5-9 years old', '10-14 year...",NaN,NaN,NaN,NaN,NaN
377,AGEHHMEMCAT7,Age category of seventh household member,"[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14...","['< 5 years old', '5-9 years old', '10-14 year...",NaN,NaN,NaN,NaN,NaN
378,AGEHHMEMCAT8,Age category of eighth household member,"[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14...","['< 5 years old', '5-9 years old', '10-14 year...",NaN,NaN,NaN,NaN,NaN
379,AGEHHMEMCAT9,Age category of ninth household member,"[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14...","['< 5 years old', '5-9 years old', '10-14 year...",NaN,NaN,NaN,NaN,NaN
380,AGEHHMEMCAT10,Age category of tenth household member,"[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14...","['< 5 years old', '5-9 years old', '10-14 year...",NaN,NaN,NaN,NaN,NaN
381,AGEHHMEMCAT11,Age category of eleventh household member,"[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14...","['< 5 years old', '5-9 years old', '10-14 year...",NaN,NaN,NaN,NaN,NaN
382,AGEHHMEMCAT12,Age category of twelfth household member,"[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14...","['< 5 years old', '5-9 years old', '10-14 year...",NaN,NaN,NaN,NaN,NaN
383,AGEHHMEMCAT13,Age category of thirteenth household member,"[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14...","['< 5 years old', '5-9 years old', '10-14 year...",NaN,NaN,NaN,NaN,NaN
384,AGEHHMEMCAT14,Age category of fourteenth household member,"[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14...","['< 5 years old', '5-9 years old', '10-14 year...",NaN,NaN,NaN,NaN,NaN
385,HBUSNESS,Home-based business or service,"[0, 1]","['No', 'Yes']",NaN,NaN,NaN,NaN,NaN
386,ATHOME,Household member at home on typical week days,"[0, 1]","['No', 'Yes']",NaN,NaN,NaN,NaN,NaN
387,TELLWORK,Household member(s) telecommutes or teleworks,"[0, 1]","['No', 'Yes']",NaN,NaN,NaN,NaN,NaN
388,OTHWORK,Any activities that use an unusual amount of e...,"[0, 1]","['No', 'Yes']",NaN,NaN,NaN,NaN,NaN
389,WORKPAY,Household members received employment income i...,"[0, 1]","['No', 'Yes']",NaN,NaN,NaN,NaN,NaN
390,RETIREPY,Household members received retirement income i...,"[0, 1]","['No', 'Yes']",NaN,NaN,NaN,NaN,NaN
391,SSINCOME,Household members received Supplemental Securi...,"[0, 1]","['No', 'Yes']",NaN,NaN,NaN,NaN,NaN
392,CASHBEN,Household members received welfare payments or...,"[0, 1]","['No', 'Yes']",NaN,NaN,NaN,NaN,NaN
393,INVESTMT,Household members received investment income i...,"[0, 1]","['No', 'Yes']",NaN,NaN,NaN,NaN,NaN
394,RGLRPAY,Household members received other regular incom...,"[0, 1]","['No', 'Yes']",NaN,NaN,NaN,NaN,NaN
395,MONEYPY,2009 gross household income,"[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14...","['Less than $2,500', '$2,500 to $4,999', '$5,0...",NaN,OTH_A,NaN,NaN,NaN
396,POVERTY100,Household income at or below 100% of poverty line,"[0, 1]","['No', 'Yes']",NaN,NaN,NaN,NaN,NaN
397,POVERTY150,Household income at or below 150% of poverty line,"[0, 1]","['No', 'Yes']",NaN,NaN,NaN,NaN,NaN
398,HUPROJ,Housing unit in public housing authority,"[0, 1, -2]","['No', 'Yes', 'Not Applicable']",NaN,NaN,NaN,NaN,NaN
399,RENTHELP,"Lower rent due to Federal, State, or Local hou...","[0, 1, -2]","['No', 'Yes', 'Not Applicable']",NaN,NaN,NaN,NaN,NaN
400,FOODASST,Household receives food stamps or WIC assistance,"[0, 1]","['No', 'Yes']",NaN,NaN,NaN,NaN,NaN

In [14]:
cat_data = data.filter(items = pc_cat['Variable Name'])

In [20]:
cat_data.head() # The data below is simply most of the categorical features from the original dataset

,REGIONC,DIVISION,REPORTABLE_DOMAIN,TYPEHUQ,Climate_Region_Pub,AIA_Zone,KOWNRENT,CONDCOOP,YEARMADERANGE,OCCUPYYRANGE,...,SSINCOME,CASHBEN,INVESTMT,RGLRPAY,MONEYPY,POVERTY100,POVERTY150,HUPROJ,RENTHELP,FOODASST
0,2,4,12,2,4,3,1,-2,7,8,...,0,0,0,0,23,0,0,-2,-2,0
1,4,10,26,2,5,4,2,-2,6,8,...,0,0,0,0,9,0,1,0,1,0
2,1,1,1,5,1,2,2,-2,3,7,...,0,0,0,0,18,0,0,0,0,0
3,2,3,7,2,1,2,1,-2,5,5,...,0,0,1,0,10,0,0,-2,-2,0
4,1,1,1,3,1,3,1,1,5,5,...,0,0,0,0,20,0,0,-2,-2,0

In [19]:
X_train, X_test, y_train, y_test = train_test_split(cat_data, kwh, test_size=0.5)

### The following can not be performed as of yet. Need to pare down variables even more. Do I also need to perform one hot encoding to use sklearn's LogisticRegression?

In [17]:
# lm = LogisticRegression()
# lm.fit(X_train, y_train.KWH) # This is taking forever on my underpowered computer. Need to pare down variables even more.

In [18]:
pred = lm.predict(X_train)
res = pred - y_train

NameError: name 'lm' is not defined

In [ ]:
plt.scatter(X_train, pred-y)
plt.ylabel("Residuals")
plt.xlabel("Total SQFT")
plt.title("comparing model to data with no intercept")
print(lm.score(X_train, y_train))